@model IEnumerable<MoviesApi.Models.Movie>
@{
    ViewData["Title"] = "Lista de Filmes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if(TempData["mensagem"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensagem"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-9">
            <h3>Lista de Filmes</h3>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Movies">+ Novo Filme</a>
        </div>
    </div>

    <div class="row">
        <input type="submit" value="Exclusao em massa" onclick="return confirm ('Você tem certeza?')" />
        @if(Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td></td>
                        <td>@Html.DisplayNameFor(m => m.Id)</td>
                        <td>@Html.DisplayNameFor(m => m.Name)</td>
                        <td>@Html.DisplayNameFor(m => m.GenderId)</td>
                        <td>@Html.DisplayNameFor(m => m.DTCreate)</td>
                        <td>@Html.DisplayNameFor(m => m.Active)</td>
                        <td>Ações</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                    <tr>
                        <td><input type="checkbox" class="chkCheckBoxId" value="@item.Id" name="movieId"/></td>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.GenderId</td>
                        <td>@item.DTCreate</td>
                        <td>@item.Active</td>
                        <td>
                            <a asp-controller="Movies" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                            <a asp-controller="Movies" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Não existe filmes cadastrados!</p>
        }
    </div>

</div>

